.about-me {
    background-color: rgb(199, 228, 251);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.about-me-content {
    margin-top: 3rem;
    width: 70%;
    text-align: center;
}
