body {
    /* color: rgb(var(--foreground-rgb));
    background-color: rgb(199, 228, 251); */
    background: radial-gradient(circle, #03a9f4 0%, rgb(217 241 252) 100%);
    overflow-x: hidden;
}

.clouds {
    display: flex;
    justify-content: space-around;
}

.first-cloud,
.second-cloud,
.third-cloud {
    width: 600px;
    height: 350px;
    z-index: -1;
    position: absolute;
}

.first-cloud {
    animation: float-left-to-right 14s ease-in-out infinite;
    margin-top: 35rem;
}

.second-cloud {
    animation: float-left-to-right 12s ease-in-out infinite;
}

.third-cloud {
    animation: float-right-to-left 13s ease-in-out infinite;
    margin-top: 13rem;
}

@keyframes float-right-to-left {
    0% {
        transform: translateX(65vw);
    }
    100% {
        transform: translateX(-60vw);
    }
}

@keyframes float-left-to-right {
    0% {
        transform: translateX(-60vw);
    }
    100% {
        transform: translateX(65vw);
    }
}

@media only screen and (max-width: 595px) {
    @keyframes float-right-to-left {
        0% {
            transform: translateX(90vw);
        }
        100% {
            transform: translateX(-90vw);
        }
    }

    @keyframes float-left-to-right {
        0% {
            transform: translateX(-90vw);
        }
        100% {
            transform: translateX(90vw);
        }
    }
}
