/* body {
    background-color: rgb(199, 228, 251);
} */

.cv-container {
    background-color: rgb(199, 228, 251);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background: linear-gradient(
        to bottom,
        rgba(254, 252, 252, 0),
        rgb(199, 228, 251) 100%
    );
}

.lang-btn {
    display: flex;
    padding: 3rem 0 1rem 0;
}

button {
    margin: 10px;
    color: white;
}
