footer {
    background-color: rgb(199, 228, 251);
    background: linear-gradient(to top, white, rgb(199, 228, 251) 100%);
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 400px;
}

.footer-link {
    margin: 1rem;
}

.linkedin {
    width: 100px;
}

.github {
    width: 50px;
}
