footer {
    background: linear-gradient(to top, white, rgb(199, 228, 251) 100%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.footer-link {
    margin: 1rem;
}

.linkedin {
    width: 100px;
}

.github {
    width: 50px;
}
