.projects {
    width: 100%;
    background-color: rgb(199, 228, 251);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-img,
.title {
    width: 800px;
}

.project-container {
    display: flex;
    flex-direction: row;
    margin: 3rem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-name,
.project-description {
    color: white;
    font-size: 30px;
}

.project-description {
    font-size: 15px;
    margin-bottom: 1rem;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.project-img {
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 25px;
}

.image-container:hover .project-img {
    opacity: 0.3;
}

.text-gallery {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.image-container:hover .text-gallery {
    transition: 0.5s ease;
    opacity: 1;
}

@media only screen and (max-width: 595px) {
    .project-img,
    .title {
        width: 300px;
    }

    .title > h1 {
        font-size: 15px;
    }

    .title > p {
        font-size: 7px;
    }

    .project-container {
        flex-direction: column;
    }

    .image-container {
        display: flex;
        justify-content: center;
    }

    .project-img {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 850px) {
    .title > h1 {
        font-size: 20px;
    }

    .title > p {
        font-size: 10px;
    }

    .project-container {
        flex-direction: column;
    }

    .image-container {
        display: flex;
        justify-content: center;
    }

    .project-img {
        width: 100%;
        margin: auto;
    }
}
