@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"); */

@layer base {
  /* body {
    background: radial-gradient(
      circle,
      rgb(246, 159, 88) 50%,
      rgb(243, 222, 210) 100%
    );
  } */

  /* @font-face {
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/public/Jost/Jost-VariableFont_wght.ttf");
  } */
}
